* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #1c2034;
    --dark-blue: #262c46;
    --darker-blue: #1b2139;
    --light-grey: #ADADAD;
    --white: #FFFFFF;
    --green: #21db91;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: relative;
    background-image: linear-gradient(to bottom right, var(--dark-blue), var(--background));
    height: 100vh;
    width: 100vw;
    min-height: 60rem;
    min-width: 37.5rem;
}


/* Music informations(thumbnail cover, music name and etc) */

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: min(60rem, 80%);
    height: calc(100% - 31.2rem);
    margin: auto;
}

.display img {
    display: inline-block;
    text-align: center;
    height: 19rem;
    width: 19rem;
    margin: 1.5rem 2rem;
}

.display p,
span {
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
}


/* Playlist Button */

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#playlist-btn {
    appearance: none;
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--dark-blue);
    transition: filter .2s;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}

#playlist-btn:hover {
    filter: brightness(1.2);
}


/* Playlist Modal */

.playlist__modal.active {
    visibility: visible;
    opacity: 1;
}

.playlist__modal {
    display: flex;
    background-color: var(--background);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-height: 60rem;
    min-width: 37.5rem;
}

.playlist__modal ul {
    margin: auto;
    border-left: .2rem solid var(--light-grey);
    border-right: .2rem solid var(--light-grey);
    border-radius: 1.5rem 0;
    width: min(85rem, 95%);
}

.playlist__modal li {
    display: flex;
    justify-content: space-between;
    color: var(--light-grey);
    list-style: none;
    padding: 2rem 3.5rem;
    font-size: 1.7rem;
}

.playlist__modal li:hover {
    background-color: var(--dark-blue);
    border-radius: 1.5rem 0;
}

.close__modal {
    cursor: pointer;
    position: absolute;
    color: var(--white);
    font-weight: 700;
    border: solid .2rem var(--white);
    border-radius: .5rem;
    padding: .2rem .8rem;
    right: 2rem;
    top: 2rem;
}

.close__modal:hover {
    border: solid .2rem var(--white);
    background-color: var(--white);
    color: var(--darker-blue);
}


/* Seekbar */

#seekbar {
    max-width: 100rem;
    width: calc(100% - 7rem);
    display: flex;
    margin: auto;
}


/* Control panel */

.controls {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--dark-blue);
    width: 100%;
    height: 12rem;
    bottom: 0;
}

.controls .controls_wrappper {
    display: flex;
}

.controls .controls_wrappper img {
    cursor: pointer;
    margin-left: .5rem;
    width: 5rem;
}


/* Play button */

.controls .controls_wrappper img:nth-child(4) {
    width: 7.2rem;
}


/* Repeat button */

.controls .controls_wrappper img:first-child {
    position: absolute;
    left: 2rem;
    transform: translateY(-50%);
    width: 1.8rem;
}


/* volume button size */

.controls .controls_wrappper img:last-child {
    position: absolute;
    right: 2rem;
    width: 2.4rem;
    top: 1.3rem;
}